<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings/> 
  <connectionStrings>
    <add name="egSQLConString" connectionString="Persist Security Info=True; User ID=sparsh;Password=sparsh@123;Initial Catalog=EditableGridView;Data Source=STPL-PC10\SPARSHR2" providerName="System.Data.SqlClient"/>

    
    <!--<add name="egSQLConString" connectionString="server=STPL-PC10\SPARSHR2;database=EditableGridView;uid=sparsh;pwd=sparsh@123;" providerName="System.Data.SqlClient"/>-->
   </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:31322/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>
